# Logs
logs
*.log
npm-debug.log*
test-logs

packages/hayat-poshti-proxy
packages/huginn-app-bindings

uploads
cache
builds
target

*.env

.data
.nitro
.cache
.output
.react-router
build
ffmpeg

*.code-workspace

node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
*.build.tsbuildinfo
.electron

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel

test-results/
playwright-report/
playwright/.cache/
*.log
.vs

generated
