midgard.huginn.dev {
  reverse_proxy /api* server:3004
  reverse_proxy /redirect.html server:3004
  reverse_proxy /output.css server:3004
  reverse_proxy /favicon.ico server:3004

  reverse_proxy /gateway server:3004

  reverse_proxy /cdn* cdn:3002
}
