:80 {
   reverse_proxy /api* server:3004

   reverse_proxy /gateway server:3004
   reverse_proxy /voice-gateway voice:3003

   reverse_proxy /cdn* cdn:3002
   reverse_proxy /voice* voice:3003

   reverse_proxy server:3004
}
