@import "tailwindcss";

@theme {
   --font-*: initial;
   /* --font-noto: Noto Sans, sans-serif; */
   --font-ubuntu: Ubuntu Mono, monospace;

   --spacing-topbar-icon: 1.5rem;
   --spacing-topbar: 4rem;
   --spacing-topbar-separator: calc(var(--spacing-topbar) + 0.125rem);

   --text-tiny: 0.688rem;
   /* --text-tiny--line-height: 1.5rem; */
   /* --text-tiny--letter-spacing: 0.125rem; */
   /* --text-tiny--font-weight: 500; */
}

@theme inline {
   --color-surface: var(--tcolor-surface);
   --color-surface-alt: var(--tcolor-surface-alt);
   --color-surface-deep: var(--tcolor-surface-deep);
   --color-surface-void: var(--tcolor-surface-void);

   --color-primary-300: var(--tcolor-primary-300);
   --color-primary-400: var(--tcolor-primary-400);
   --color-primary-500: var(--tcolor-primary-500);
   --color-primary-600: var(--tcolor-primary-600);
   --color-primary-700: var(--tcolor-primary-700);
   --color-primary-800: var(--tcolor-primary-800);
   --color-primary-900: var(--tcolor-primary-900);

   --color-positive-100: var(--tcolor-positive-100);
   --color-positive-300: var(--tcolor-positive-300);
   --color-positive-500: var(--tcolor-positive-500);
   --color-positive-700: var(--tcolor-positive-700);
   --color-positive-900: var(--tcolor-positive-900);

   --color-negative-100: var(--tcolor-negative-100);
   --color-negative-300: var(--tcolor-negative-300);
   --color-negative-500: var(--tcolor-negative-500);
   --color-negative-700: var(--tcolor-negative-700);
   --color-negative-900: var(--tcolor-negative-900);

   --color-caution-100: var(--tcolor-caution-100);
   --color-caution-300: var(--tcolor-caution-300);
   --color-caution-500: var(--tcolor-caution-500);
   --color-caution-700: var(--tcolor-caution-700);
   --color-caution-900: var(--tcolor-caution-900);

   --color-text: var(--tcolor-text);
}

@utility box-exact {
   text-box-trim: trim-both;
   text-box-edge: cap alphabetic;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
/* @layer base {
   *,
   ::after,
   ::before,
   ::backdrop,
   ::file-selector-button {
      border-color: var(--color-gray-200, currentcolor);
   }
} */

@font-face {
   font-family: "Rubik";
   src: url("assets/Rubik-VariableFont_wght.ttf") format("TrueType");
   font-style: normal;
}

@font-face {
   font-family: "Rubik";
   src: url("assets/Rubik-Italic-VariableFont_wght.ttf") format("TrueType");
   font-style: italic;
}

@font-face {
   font-family: "Ubuntu Mono";
   src: url("assets/UbuntuMono-Regular.ttf") format("TrueType");
   font-style: normal;
}

@font-face {
   font-family: "Ubuntu Mono";
   src: url("assets/UbuntuMono-Bold.ttf") format("TrueType");
   font-weight: bold;
}

@font-face {
   font-family: "Ubuntu Mono";
   src: url("assets/UbuntuMono-Italic.ttf") format("TrueType");
   font-style: italic;
}

@font-face {
   font-family: "Ubuntu Mono";
   src: url("assets/UbuntuMono-BoldItalic.ttf") format("TrueType");
   font-weight: bold;
   font-style: italic;
}

:root {
   font-family: "Rubik", sans-serif;
   /* font-family: "Cascadia Mono", sans-serif; */
   -webkit-font-smoothing: none;
   /* letter-spacing: 0.05rem; */
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   /* interpolate-size: allow-keywords; */
}

html,
body,
#root {
   @apply bg-surface-alt h-full overflow-hidden overscroll-none;
}

@keyframes blink {
   50% {
      background-color: transparent;
   }
}
.loading-dot {
   animation: 1s blink infinite;
}
.loading-dot:nth-child(2) {
   animation-delay: 250ms;
}
.loading-dot:nth-child(3) {
   animation-delay: 500ms;
}

@keyframes loading {
   25% {
      transform: translate(-10px, -10px) rotateY(180deg);
   }
   50% {
      transform: translate(0, 0) rotateY(180deg);
   }
   75% {
      transform: translate(10px, -10px);
   }
   100% {
      transform: translate(0, 0);
   }
}

.animate-loading {
   animation: loading 1s infinite linear;
}

.drag-region {
   app-region: drag;
}

.no-drag-region {
   app-region: no-drag;
}

video::-webkit-media-controls {
   display: none !important;
}

::-webkit-scrollbar {
   @apply h-3 w-3;
}

/* Default: thumb is invisible */
* {
   --scrollbar-thumb-color: transparent;
}

/* On hover: reveal the thumb */
*:hover {
   --scrollbar-thumb-color: var(--color-surface);
}

/* Thumb always "exists" but is transparent until hover */
::-webkit-scrollbar-thumb {
   @apply rounded-full border-3 border-solid border-transparent bg-clip-padding;
   background-color: var(--scrollbar-thumb-color);
}

/* Color variants override the variable */
.scroll-surface-alt {
   --scrollbar-thumb-color-hover: var(--color-surface-alt);
}
.scroll-surface-deep {
   --scrollbar-thumb-color-hover: var(--color-surface-deep);
}
.scroll-surface-alt:hover,
.scroll-surface-deep:hover {
   --scrollbar-thumb-color: var(--scrollbar-thumb-color-hover);
}

.scroll-thin::-webkit-scrollbar {
   @apply h-2.5 w-2.5;
}

.scroll-thin:hover::-webkit-scrollbar-thumb {
   @apply border-3;
}

.scroll-super-thin::-webkit-scrollbar {
   @apply h-2 w-2;
}

.scroll-super-thin:hover::-webkit-scrollbar-thumb {
   @apply border-2;
}

.scroll-hidden::-webkit-scrollbar {
   @apply hidden;
}

input[type="range"] {
   appearance: none;
   background: transparent;
   cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
   @apply bg-primary-500/50 h-1.5 transition-transform hover:scale-y-125;
}

input[type="range"]::-moz-range-track {
   background: #053a5f;
   height: 0.5rem;
}

input::-ms-reveal,
input::-ms-clear {
   display: none;
}

.cropper-view-box {
   border-radius: 100%;
   outline: none !important;
   border: 4px solid white;
   pointer-events: none;
}

.cropper-crop-box {
   border-radius: 100%;
}

.banner-crop .cropper-view-box {
   border-radius: 0;
}

.banner-crop .cropper-crop-box {
   border-radius: 0;
}

.banner-crop .cropper-face {
   border-radius: 0;
}

.cropper-face {
   border-radius: 100%;
}

.cropper-move {
   cursor: grab !important;
}

.cropper-line {
   visibility: hidden;
}

.cropper-point {
   z-index: 100;
}

.cropper-wrap-box {
   border-radius: 0.5rem;
}

@keyframes rotating {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

@keyframes fade-in {
   from {
      opacity: 0;
   }
}

@keyframes fade-out {
   to {
      opacity: 0;
   }
}

@keyframes scale-down {
   to {
      transform: scale(0, 0);
   }
}

@keyframes scale-up {
   from {
      transform: scale(0, 0);
   }
}

@keyframes slide-from-right {
   from {
      transform: translateX(100%);
   }
}

@keyframes slide-from-left {
   from {
      transform: translateX(-100%);
   }
}

@keyframes slide-to-right {
   to {
      transform: translateX(100%);
   }
}

@keyframes slide-to-left {
   to {
      transform: translateX(-100%);
   }
}

@keyframes slide-to-top {
   to {
      transform: translateY(-100%);
   }
}

@keyframes slide-from-top {
   from {
      transform: translateY(-100%);
   }
}

@keyframes slide-from-bottom {
   from {
      transform: translateY(100%);
   }
}

@keyframes scale-up-large {
   to {
      transform: scale(10, 10);
   }
}

@keyframes scale-down-large {
   from {
      transform: scale(10, 10);
   }
}

@keyframes background-forwards {
   to {
      transform: scale(5);
      filter: blur(10px);
   }
}

@keyframes background-backwards {
   from {
      opacity: 0;
      filter: blur(10px);
      transform: scale(2);
   }
   to {
      opacity: 1;
   }
}

@keyframes start-enter {
   0% {
      transform: scale(0.8);
      filter: blur(10px);
      opacity: 0;
   }
   75% {
      filter: blur(0px);
      opacity: 1;
   }
   100% {
      transform: scale(1);
   }
}

@keyframes start-leave {
   100% {
      opacity: 0;
      transform: scale(0.8);
      filter: blur(50px) grayscale(1);
   }
}

@keyframes main-enter {
   0% {
      opacity: 0;
      transform: scale(0.9);
      filter: blur(10px);
   }
   50% {
      opacity: 1;
   }
}

@keyframes main-leave {
   0% {
      opacity: 1;
   }
   50% {
      transform: scale(0.9);
   }
   100% {
      opacity: 0;
      transform: scale(0.9);
      filter: blur(50px);
   }
}

::view-transition-new(start-login),
::view-transition-new(start-register),
::view-transition-new(start-oauth-redirect) {
   animation: start-enter 500ms both ease-in-out;
}

::view-transition-old(start-login),
::view-transition-old(start-register),
::view-transition-old(start-oauth-redirect) {
   animation: start-leave 500ms both ease-in-out;
}

::view-transition-new(start-index) {
   animation: fade-in 250ms both;
   /* scale-up 250ms both; */
}

::view-transition-old(start-index) {
   /* z-index: 999; */
   /* position: fixed; */
   animation: fade-out 250ms both;
   /* scale-down 250ms both; */
}

::view-transition-group(start-login),
::view-transition-group(start-register),
::view-transition-group(start-oauth-redirect),
::view-transition-group(start-index) {
   z-index: 100;
}

::view-transition-new(main) {
   animation: main-enter 500ms both 500ms;
}

::view-transition-old(main) {
   animation: main-leave 500ms both;
}

html:active-view-transition-type(forwards) {
   &::view-transition-new(start-background) {
      animation: background-forwards 1000ms both 250ms;
   }

   &::view-transition-old(start-background) {
      animation: background-forwards 1000ms both 250ms;
   }
}

html:active-view-transition-type(backwards) {
   &::view-transition-new(start-login),
   &::view-transition-new(start-register),
   &::view-transition-new(start-oauth-redirect),
   &::view-transition-new(start-index) {
      animation-delay: 500ms;
   }

   &::view-transition-new(start-background) {
      opacity: 0;
      animation: background-backwards 500ms both 250ms;
   }

   &::view-transition-old(start-background) {
      display: none;
   }
}

.hljs-comment {
   font-style: italic;
}

.hljs-keyword {
   font-style: italic;
}

.hljs-emphasis {
   font-style: italic;
}

.range-container {
   width: 300px;
   margin: 50px auto;
   text-align: center;
}

.range {
   position: relative;
   width: 100%;
   height: 10px;
   background-color: #eee;
   border-radius: 5px;
   cursor: pointer;
}

.range-track {
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 50%; /* Initial value */
   background-color: #4caf50;
   border-radius: 5px;
}

.range-thumb {
   position: absolute;
   top: 50%;
   width: 20px;
   height: 20px;
   background-color: #fff;
   border: 2px solid #4caf50;
   border-radius: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
}

.range-value {
   margin-top: 10px;
   font-size: 16px;
}

.news-markdown {
   @apply text-text/80;
}
.news-markdown h1 {
   @apply text-2xl;
}
.news-markdown h2 {
   @apply text-xl;
}
.news-markdown h3 {
   @apply text-lg;
}

.news-markdown a {
   @apply text-primary-500 hover:underline;
}

.news-markdown h1,
.news-markdown h2,
.news-markdown h3 {
   @apply text-positive-100 flex items-center whitespace-nowrap uppercase;
}

.news-markdown h1::after,
.news-markdown h2::after,
.news-markdown h3::after {
   content: "";
   @apply bg-positive-100 ml-2 h-0.5 w-full;
}

.news-markdown img {
   @apply rounded-lg border-2 border-dashed border-white/50 shadow-md;
}

.news-markdown ul {
   @apply list-disc;
}

.news-markdown li {
   @apply ml-6;
}

.news-markdown li::marker {
   @apply text-xl text-white/50;
}

.news-markdown p:has(img) + h3 {
   @apply mt-5;
}

div[data-floating-ui-portal] {
   position: absolute;
}
