@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Noto Sans";
	src: url("assets/NotoSans.ttf") format("TrueType");
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans";
	src: url("assets/NotoSansItalic.ttf") format("TrueType");
	font-style: italic;
}

@font-face {
	font-family: "Noto Sans Arabic";
	src: url("assets/NotoSansArabic.ttf") format("TrueType");
}

:root {
	font-family: "Noto Sans", "Noto Sans Arabic", sans-serif;
	-webkit-font-smoothing: none;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
}

html,
body,
#root {
	background-color: #262626;
	@apply h-full overscroll-none;
}

@keyframes blink {
	50% {
		background-color: transparent;
	}
}
.loading-dot {
	animation: 1s blink infinite;
}
.loading-dot:nth-child(2) {
	animation-delay: 250ms;
}
.loading-dot:nth-child(3) {
	animation-delay: 500ms;
}

@keyframes loading {
	25% {
		transform: translate(-10px, -10px) rotateY(180deg);
	}
	50% {
		transform: translate(0, 0) rotateY(180deg);
	}
	75% {
		transform: translate(10px, -10px);
	}
	100% {
		transform: translate(0, 0);
	}
}

.animate-loading {
	animation: loading 1s infinite linear;
}

::-webkit-scrollbar {
	@apply w-6;
}

::-webkit-scrollbar-track {
	@apply shadow-background rounded-full [border:solid_8px_transparent] [box-shadow:_inset_0_0_10px_10px_var(--tw-shadow-color)];
}

::-webkit-scrollbar-thumb {
	@apply shadow-secondary rounded-full [border:solid_8px_transparent] [box-shadow:_inset_0_0_10px_10px_var(--tw-shadow-color)];
}

.scroll-alternative::-webkit-scrollbar-track {
	@apply shadow-secondary/70 rounded-full [border:solid_8px_transparent] [box-shadow:_inset_0_0_10px_10px_var(--tw-shadow-color)];
}

.scroll-alternative::-webkit-scrollbar-thumb {
	@apply shadow-tertiary rounded-full [border:solid_8px_transparent] [box-shadow:_inset_0_0_10px_10px_var(--tw-shadow-color)];
}

.scroll-alternative2::-webkit-scrollbar-track {
	@apply shadow-background/70 rounded-full [border:solid_8px_transparent] [box-shadow:_inset_0_0_10px_10px_var(--tw-shadow-color)];
}

.scroll-alternative2::-webkit-scrollbar-thumb {
	@apply shadow-tertiary rounded-full [border:solid_8px_transparent] [box-shadow:_inset_0_0_10px_10px_var(--tw-shadow-color)];
}

input::-ms-reveal,
input::-ms-clear {
	display: none;
}

.cropper-view-box {
	border-radius: 100%;
	outline: none !important;
	border: 4px solid white;
	pointer-events: none;
}

.cropper-crop-box {
	border-radius: 100%;
}

.cropper-face {
	border-radius: 100%;
}

.cropper-move {
	cursor: grab !important;
}

.cropper-line {
	visibility: hidden;
}

.cropper-point {
	z-index: 100;
}

.cropper-wrap-box {
	border-radius: 0.5rem;
}

@keyframes fade-in {
   from {opacity: 0;}
}

@keyframes fade-out{
   to {opacity: 0;}
}

@keyframes fade-in-bg {
   from {@apply opacity-0}
}

@keyframes fade-out{
   to {opacity: 0;}
}


@keyframes scale-down{
   to {transform: scale(0.75, 0.75);}
}

@keyframes scale-up{
   from {transform: scale(0.75, 0.75);}
}

@keyframes slide-to-right{
   to {transform: translateX(100%);}
}

@keyframes slide-to-left{
   to {transform: translateX(-100%);}
}

@keyframes scale-up-large{
   to {transform: scale(10,10);}
}

@keyframes scale-down-large{
   from {transform: scale(10,10);}
}

::view-transition-old(auth) {
   animation: fade-out 500ms both;
   mix-blend-mode: plus-lighter;
}

::view-transition-new(auth) {
   animation: fade-in 500ms both;
   mix-blend-mode: plus-lighter;
}

::view-transition-old(auth-background){
   display: none;
}

::view-transition-new(auth-background){
   animation: none;
}

#auth-form{
   animation: fade-in 350ms both, scale-up 350ms both;
}

#auth-form-hidden{
   animation: fade-out 250ms both, scale-down 250ms both;
}

html::view-transition-group(root),html::view-transition-new(root), html::view-transition-old(root){
   animation: none;
}

::view-transition-new(auth-login),
::view-transition-new(auth-register),
::view-transition-new(auth-oauth-redirect) {
   animation: fade-in 350ms both, scale-up 350ms both;
}

::view-transition-old(auth-login),
::view-transition-old(auth-register),
::view-transition-old(auth-oauth-redirect) {
   animation: fade-out 250ms both, scale-down 250ms both;
}
